.aboutUsImg {
  position: absolute;
  margin-top: 10px;
  margin-left: 200px;
  float:right;
  width: 40%; 
  height: 375px;
  object-fit: cover; 
  opacity: 0.8; 
}

.text-container {
    width: 75%; 
    height: 320px;
    margin-left:50px ;
    margin-top:-15px; 
    overflow:scroll; 
    padding:10px;
    white-space:unset;
  }



 