.games-grid {   
    display: flex;
    gap: 15px; /* ריווח בין הקלפים */
    max-height: 90vh; /* גובה מקסימלי כדי להתאים למסך */
    overflow-y: auto; 
    padding: 20px; 
    justify-content: center; /* מרכז את הקלפים אופקית */
    width: 1230px;

}

.games-grid::-webkit-scrollbar {
    display: none
}


.game-card {
    display: flex; /* מפעיל Flexbox */
    flex-direction: column; /* ממקם את התוכן בערימה (אנכית) */
    align-items: center; /* ממרכז את התוכן אופקית */
    background-color: rgba(16, 16, 94, 0.477);
    padding: 10px;
    border-radius: 5px;
    color: rgb(245, 231, 231); 
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 600px;
  }
  .game-card h1 {
    transition: transform 0.2s ease, color 0.2s ease; /* אנימציה רכה לגדילה ושינוי צבע */
  } 
  .game-card:hover h1 {
    transform: scale(1.2); /* הגדלה */
    color: #ffd700; /* שינוי צבע ל-gold */
  }
  
  .gameImg{
    height: 300px;
    width: 482.72918701171875px;
    margin: 20px;
    background-color: crimson;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius:15px; 
  }