.homeBackground{
  height: 610px;
  width: 100%;
  position: relative;
  z-index:-1 ;
 ;
}
/*
.homePage{
  height: 450px;
  width: 100%;
  background-position: center; /* Center the image 
  background-size: cover;
  background-image: url("../../../public/media/Appbackgound/marioBackground.jpg");

}*/

.list{
  width: 200px;
  padding: 25px;
  border-radius:15px; 
  margin-left:225px; 
  margin-top:-500px;
 
}

a #login {
    color: #ffffff;
    margin-left:20px;
}

a #letsCreate{
  color: #eff800;

}

a #CreativePlay{
  color: #1042b5;
}

a #socialPanel{
  color: #98171d; 
}


  