.loginPage h1{
    margin-right: 200px;
    margin-top: 50px;
}

.loginImg{
    float:left;
    height: 530px;
    width: 30%;
    margin-top:-50px;
    margin-left: -80px;
}

#LoginForm{ 
    align-items: center;
    margin-left: -55px;

}

.formIcon{ 
    margin-left:-205px ;
    margin-bottom: -10px;
    width:30px;
    height:30px;
}

#LoginForm .inputFild {
    width: 350px; 
  }

 #LoginForm #submit{
    height:44px;
    width: 150px;
    margin-left : 900px;
    margin-top:-44px;
}

 #signUp{
    margin-left: 700px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius:15px;  
    background-color: #3360CD;
   
}
 
#LoginForm a .button-text{
    font-family:'Luckiest Guy';
    color: #ffffff ;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 20px;
}


#LoginForm .icon{
    margin-left: -80px;
    margin-top: 25px;
}

#LoginForm p{
    margin-right: 150px;
}
