.loginPage h1{
    margin-right: 100px;
}
.loginImg{
    float:left;
    height: 430px;
    width: 30%;
    margin-top:-50px;
    margin-left: 150px;
}
/*#LoginForm{ 
    background: rgb(242, 245, 245);
    width: 400px;
    height: 250px;
    margin-top:0px;
    margin-left: 500px;
}*/
#LoginForm{ 
    margin-top:-15px;
}

.formIcon{
    margin-left:-100px ;
    margin-bottom: -5px;
    width:25px;
    height:25px;
}

#LoginForm .inputFild {
    width: 300px; 
  }

 #LoginForm #submit{
    position: absolute ; 
    margin-left : 591px;
    margin-top:-43px;
    
}

 #signUp{
    margin-left: 760px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius:15px;  
    background-color: #3360CD;
   
}
 
#LoginForm a .button-text{
    font-family:'Luckiest Guy';
    color: #ffffff ;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 20px;
}


#LoginForm .icon{
    margin-left: -80px;
    margin-top: 25px;
}


