
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  background: linear-gradient( #3EC7F2 , white);
  height: 470px;
  width: 100%;
}
body ::-webkit-scrollbar {
  display: none;
}

h1,h3{
  font-family:'Luckiest Guy';
  letter-spacing: 1px;
  color: #1042b5 ;
}
p{
  font-family:'Gill Sans MT';
  font-size: 20px;
}
span{
    font-family:'Gill Sans MT';
    font-size: 15px;
}
img{
  width:250px;
  height:250px;
}
ul {
  list-style-type: none;
}

.icon{
  width:25px;
  height:25px;
  margin-right:10px;
  margin-bottom: 0px;
}

a{
  color: #120c7a ;
  cursor: pointer;
  text-decoration: none;
  font-family:'Gill Sans MT';
  font-size: 15px; 

}
a:hover {
  color: #2fb3e3; 
  font-size: 20px; 
}

.inputFild {
  font-family:'Gill Sans MT';
  margin-top:30px;
  margin-left:5px ;
  height: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius:15px;
  font-size: 17px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.inputFild:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

#submit{
  height: 42px;
  width: 150px;
  border-radius:15px; 
  background-color:#eff800;
  font-family:'Luckiest Guy';
  letter-spacing: 1px;
  color: #1042b5 ;
  font-size: 18px;
  border: 2px solid #8f927e;
}

.Buttons{
  width: 200px; 
  height: 50px;
  margin-top: 10px;
  border: 2px solid #8f927e;
  display:flex;
  justify-content: center;
  align-items: center; 
  border-radius:15px; 
  background-color:#63b35c;
  color: hsl(222, 61%, 48%);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.Buttons .button-text{
  align-items: left;
  font-family:'Luckiest Guy';
  letter-spacing: 2px;
  margin-top: -25px;
  margin-left: 40px;
  font-size: 18px;
}

.Buttons .icon{
  margin-top: 30px;
  margin-left: -130px;
}

.games-grid{  
  display: flex;
  
  align-items: center;
  justify-content: center;
}

.game-card {
  background-color: rgba(16, 16, 94, 0.477);
  height: 150px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(245, 231, 231); 
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.game-card:hover {
  transform: scale(1.05);
}