.signUpPage h1{
  margin-top: 25px ;
  margin-left: 205px;
}
.signUpImg{
    float:right;
    height: 500px;
    width: 30%;
    margin-top: -20px;
    margin-right: 100px;
}

#SignUpForm{
  margin-left: 380px;
  margin-top: 0px;
}

.inputFild  {
  margin-top:17px;
  width: 400px; 
}

#lastName input,#firstName input{
  width: 180px;
}

#SignUpForm #firstName {
  margin-left: -220px;
}

#SignUpForm #lastName{
  margin-top: -66px;
  margin-left: 40px;
}

 #SignUpForm #submit{
  margin-left: 43px;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  text-align: center; 
}




